*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    color: white;
    touch-action: manipulation;

}

html {
    font-size: 16px;

        -webkit-text-stroke: 0.5px black;
        color: white;
        text-shadow:
            3px 3px 0 #000,
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
     
}

body {
    background-color: black;
}

#score {
    position: relative;
    margin: 5%;
    font-size: 1vw;
}

#welcome-message {
    position: relative;
    top: 30%;
    left: 74%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
}

#welcome-message-phone {
    position: absolute;
    display: none;
    background: 0;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
}

#arcade {
    position: absolute;
    background-image: url(arcade.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    z-index: 2;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.container {
    background-image: url(background.png);
    overflow: hidden;
    width: 38%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.sprite-wrapper {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 80%;
    left: 45%;
}

.ship {
    width: 80%;
    height: 80%; 
    background-image: url(ship.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: ease;
}

.laser {
    position: absolute;
    z-index: -1;
    top: 1%;
    left: 35%;
    width: 12%;
    height: 50%;
    background-image: url(laser.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  

}

@keyframes fire {
    0% {top: 0; opacity: 1}
    100% {top: -1000% ; opacity: 0.1}
}

.enemy-array {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10% 10%;
    padding: 7%;
    grid-template-areas: ". . . . ." ". . . . ." ". . . . .";
    width: 100%;
    height: 50%; 
    top: 0%;
}

.enemy {
    z-index: 1;
    position: relative;
    background-image: url(enemy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: enemy-move 5s infinite alternate-reverse;

}

@keyframes enemy-move {
    0% {left: -50%; top: 50%}
    25% {left: 0%; top: -50%}
    75% {left: 0%; top: 50%}
    100% {left: 50%; top: -50%}


}

.rock-array {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 20%; 
    margin: 0;
    padding: 0;
}

.rock {
    position: relative;
    justify-self: center;
    height: 50%;
    left: 0%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


}


.enemy-laser {
    /* visibility: hidden; */
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
    top: 100%;
    left: 46%;
    width: 10%;
    height: 50%;
    background-image: url(enemyLaser.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  

}

@keyframes enemy-fire {
    0% {top: 0; opacity: 1}
    100% {top: 1000% ; opacity: 0}
}

.pop-up {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pop-up h1, .pop-up p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#left-button{
    position: absolute;
    height: 40%;
    width: 20%;
    background-color: #F7E045;
}

#right-button{
    position: absolute;
    height: 40%;
    width: 20%;
    left: 80%;
    background-color: #F7E045;

}

#fire-button{
    position: absolute;
    height: 40%;
    width: 20%;
    left: 80%;
    top: 64%;
    background-color: #F7E045;
}

#reload-button{
    position: absolute;
    height: 40%;
    width: 20%;
    left: 0%;
    top: 64%;
    background-color: #F7E045;
}

.phone-buttons {
    display: none;
}

.turnphone {
    display: none;
}

@media screen and (max-width: 900px) {

    .phone-buttons {
        display: block;
    }

    .turnphone {
        display: none;
    }

    #welcome-message-phone {
        display: block;
    }

    #welcome-message {
        display: none;
    }

    #welcome-message-phone {
        position: absolute;
        display: block;
        background: 0;
        z-index: 5;
        top: 55%;
        left: 50%; 
        transform: translate(-50%, -50%);
        font-size: 2vw;
    }
  }

  @media screen and (max-width: 500px) {
    body {
      background-color: red;
    }

    .container, #arcade{
        display: none;
    }
    


    .turnphone {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    #welcome-message-phone {
        display: none;
    }

    .phone-buttons {
        display: none;
    }
  }


